<div class="content mt-5">
  <div class="container col-md-4">
    <h2 style="text-align: center">Change your password</h2>
    <form [formGroup]="registerForm">
      <div class="col-md-8 px-md-1">
        <div class="form-group">
          <label> Old password </label>
          <input
            (keyup.enter)="save()"
            type="password"
            class="form-control"
            style="color: black"
            [ngClass]="{
              'is-invalid':
                registerForm.get('oldPassword').touched &&
                registerForm.get('oldPassword').errors
            }"
            formControlName="oldPassword"
            placeholder="Enter your old password..."
          />
          <div
            *ngIf="registerForm.get('oldPassword').hasError('required')"
            class="invalid-feedback"
          >
            Enter old password
          </div>
        </div>
      </div>

      <div class="col-md-8 px-md-1">
        <div class="form-group">
          <label> New password </label>
          <input
            (keyup.enter)="save()"
            type="password"
            class="form-control"
            style="color: black"
            [ngClass]="{
              'is-invalid':
                registerForm.get('newPassword').touched &&
                registerForm.get('newPassword').errors
            }"
            formControlName="newPassword"
            placeholder="Enter your new password..."
          />
          <div
            *ngIf="registerForm.get('newPassword').hasError('required')"
            class="invalid-feedback"
          >
            Enter the new password
          </div>
        </div>
      </div>

      <div class="col-md-8 px-md-1">
        <div class="form-group">
          <label> Confirm the new password </label>
          <input
            (keyup.enter)="save()"
            type="password"
            class="form-control"
            style="color: black"
            [ngClass]="{
              'is-invalid':
                (registerForm.get('confirmPassword').touched &&
                  registerForm.get('confirmPassword').errors) ||
                (registerForm.get('confirmPassword').touched &&
                  registerForm.hasError('mismatch'))
            }"
            formControlName="confirmPassword"
            placeholder="Confirm your new password..."
          />
          <div
            *ngIf="
              registerForm.get('confirmPassword').hasError('required') &&
              registerForm.get('confirmPassword').touched
            "
            class="invalid-feedback"
          >
            Enter the new password
          </div>

          <div
            class="invalid-feedback"
            *ngIf="
              registerForm.hasError('mismatch') &&
              registerForm.get('confirmPassword').touched
            "
          >
            Password don't match
          </div>
        </div>
      </div>
    </form>
    <button
      class="btn btn-primary mt-3 float-right"
      [disabled]="!registerForm.valid"
      type="submit"
      (keyup.enter)="save()"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
