<div class="content">
  <div class="row">
    <div class="container mt-5">
      <div class="col-12 mt-3">
        <div class="form-inline">
          <select
            class="col-md-3 form-control"
            (change)="onSortSelected($event.target.value)"
          >
            <option *ngFor="let sort of sortOptions" [value]="sort.value">
              {{ sort.name }}
            </option>
          </select>

          <input
            (keyup.enter)="onSearch()"
            #search
            class="form-control mr-2 ml-auto col-md-3 my-3"
            placeholder="Search supplier"
            type="text"
          />
          <button class="btn btn-outline-primary my-2" (click)="onSearch()">
            Search
          </button>
          <button class="btn btn-outline-success ml-2 my-2" (click)="onReset()">
            Reset
          </button>
        </div>

        <div class="d-flex justify-content-end my-3">
          <app-paging-header
            [totalCount]="totalCount"
            [pageSize]="this.orderParams.pageSize"
            [pageNumber]="this.orderParams.pageIndex"
          ></app-paging-header>
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Status</th>
              <th>Supplier</th>
              <th>Company's ref.</th>
              <th>Invoice #</th>
              <th>Total</th>
              <th>Taxes</th>
              <th>CBM</th>

              <th *ngIf="!showArrivalDate">ETA</th>
              <th *ngIf="showArrivalDate">Arrived at company</th>

              <th colspan="2">Options</th>
            </tr>
          </thead>
          <tbody *ngFor="let order of orders">
            <tr>
              <td
                [ngClass]="{
                  redPill: order.orderStatusId == 1,
                  amberPill: order.orderStatusId == 2,
                  greenPill: order.orderStatusId == 3,
                  greyPill: order.orderStatusId == 4
                }"
              >
                {{ order.orderStatusName }}
              </td>
              <td>
                {{ order.supplierName }}
              </td>
              <td>
                {{ order.referenceNumber }}
              </td>
              <td>
                {{ order.invoiceNumber }}
              </td>
              <td>
                {{ order.total | currency: "USD":true:"1.2-2" }}
              </td>
              <td>
                {{ order.totalTaxes | currency: "USD":true:"1.2-2" }}
              </td>
              <td>
                {{ order.cbm | number: "1.2-2" }}
              </td>

              <td *ngIf="!showArrivalDate">
                {{ order.deliveryDate | date: "dd/MM/yyyy" }}
              </td>
              <td *ngIf="showArrivalDate">
                {{ order.arrivalDate | date: "dd/MM/yyyy" }}
              </td>

              <td>
                <div class="btn-group">
                  <button
                    class="btn btn-sm btn-info mr-2"
                    tooltip="View order"
                    [routerLink]="['/order', order.id, 'view']"
                  >
                    <i class="fa fa-eye"></i>
                  </button>

                  <button
                    *ngIf="order.orderStatusId != 4"
                    class="btn btn-sm btn-danger"
                    tooltip="Delete"
                    (click)="delete(order, confirm)"
                  >
                    <i class="fa fa-eraser"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>

          <tr>
            <td colspan="4"></td>
            <td>
              <strong>
                {{ totalValueForAllOrders | currency: "USD":true:"1.2-2" }}
              </strong>
            </td>
            <td>
              <strong>
                {{ totalTaxesValueForAllOrders | currency: "USD":true:"1.2-2" }}
              </strong>
            </td>
          </tr>
        </table>

        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
          <app-pager
            [totalCount]="this.totalCount"
            [pageSize]="this.orderParams.pageSize"
            (pageChanged)="onPageChange($event)"
          ></app-pager>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #confirm="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete order</h4>
        <button
          type="button"
          class="close pull-right"
          (click)="confirm.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ bodyDelete }}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="confirm.hide()"
        >
          CANCEL
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="confirmDelete(order, confirm)"
        >
          DELETE
        </button>
      </div>
    </div>
  </div>
</div>
